.cabecalho{
    display: flex;
    justify-content: space-between;
}
.menu-hambuguer{
    background-image: url("../img/Menu.svg");
    width: 24px ;
    height: 24px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;

}

.menu-lista{
    display: none;

}
.seletor-menu:checked ~ .menu-lista{
    display: block;
}